<div class="container-fluid pt-3">
    <h2  class="text-center">What we do</h2>
    <div class="card mb-3">
        <div class="row g-0 testimonial-card">
        <div class="col-md-2">
            <img src="../../assets/images/friend-in-trouble.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Other Program</h5>
            <p class="card-text">lorLorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolores eius provident tempora. Aliquam amet aspernatur earum eos excepturi facere, fugit iure molestias nam optio reprehenderit sapiente similique vero, voluptatibus?em</p>
            <p class="card-text"><a href="">Read more</a></p>
            </div>
        </div>
        </div>

        <div class="row g-0 testimonial-card">
            <div class="col-md-2">
            <img src="../../assets/images/friend-in-trouble.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Other Program</h5>
                <p class="card-text">lorLorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta dolores eius provident tempora. Aliquam amet aspernatur earum eos excepturi facere, fugit iure molestias nam optio reprehenderit sapiente similique vero, voluptatibus?em</p>
                <p class="card-text"><a href="">Read more</a></p>
            </div>
            </div>
        </div>
    </div>
</div>