
.b-header--highlighted {
    background-color: #EF3E42;
}

.footer {
    height: 300px;
    background-color: #32127a;
    padding:20px;
    border-top: 5px solid #EF3E42;
}

.footer-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 992px) {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.footer-brand {
   display: flex;
   color: white; 
   font-size: 24px;
   justify-content: center;
   align-items: center;
   @media (min-width: 992px) { 
    justify-content: flex-start;
   }
}

.footer-address {
    flex: auto;
    color: white;
    padding: 20px 0;
}

.footer-secondary {
    height: 100px;
    color:white;
    font-size: 12px;
    padding: 20px 0;
    background-color: #32127a;
}